{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set action = form_action or h.url_for(controller='package', action='new_resource', id=pkg_name) %}

<form id="resource-edit" class="dataset-form dataset-resource-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form resource-form" enctype="multipart/form-data">
  <input name="id" value="{{ data.id }}" type="hidden"/>
  <input  name="url" value="http://dummy.url/dummy" type="hidden">
  <div class="form-actions">
    <div class="digstWait">
  ... metadata behandles, vent venligst ...
    </div>
   {% if stage %}
     {% block save_button %}
      <button id="saveDataset" style="display:none"  name="save" value="go-metadata" type="submit">{{ _('Finish') }}</button>
      {% endblock %}
    {% else %}
      {% block add_button %}
      <button id="saveDataset" style="display:none"  name="save" value="go-dataset-complete" type="submit">{{ _('Add') }}</button>
      {% endblock %}
    {% endif %}
  </div>
</form>
 <script language="javascript">
	document.getElementById("saveDataset").click();
 </script>

